{% extends "account/base.html" %}
{% block title %}Confirm Password Reset{% endblock %}
{% block content %}


{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "accounts:dashboard" %}';
</script>
{% endif %}


{% if validlink %}

<h1>Set a new password!</h1>

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12 mx-auto">

                            <form class="login-form p-4 rounded" method="post">
                                {% csrf_token %}
                                <h1 class="h4 mb-4 font-weight-bold">Change your password</h1>
                                <p>Use the form below to change your password.</p>
                                {{ form.as_p }}
                            </form>

                            <p class="small text-center pt-4">
                                <a href="{% url "accounts:login" %}">Already have an account?</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}